.container {
  width: 400px;
  max-width: 100%;
  margin: 0 20px;
  display: inline-block;
  vertical-align: top;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  cursor: move;
  background: white;
  color: black;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}

/* Highlight the list item that is being dragged. */


.mat-elevation-z8 {
  margin-top: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}

.table {
  padding: 10px;
}
